/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lobster&display=swap');

/* Update headers */

h2 {
  font-family: "Lobster";
  font-size: 35px;
  color: purple;
}

h3 {
  font-family: "Crimson Text";
  font-size: 25px;
  color: magenta;
}

body {
  font-family: "Lobster";
  font-size: 18px;
  color: teal;
}
